body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
    "nav"
    "section"
    "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    text-align: center;
}  

html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


.container {
    width: 100%;
}
nav {
    width: 100%;
    grid-area: nav;
    background-color: #04AA6D;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 14px;
}

section {
    grid-area: section;
    background-color: #fff;
}

section h1 {
    color: #04AA6D;
}

footer {
    color: #fff;
    padding: 13px;
    grid-area: footer;
    background-color: #04AA6D;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-dua {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content, .dropdown-dua:hover .dropdown-content, .dropdown-tiga:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn, .dropdown-dua:hover .dropbtn, .dropdown-tiga:hover .dropbtn {background-color: #3e8e41;}


.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    opacity: 0.8; 
    cursor: pointer; 
    border: 2px solid black;
}

.row {
    width: 100%;
    display: flex;
}

.column img {
    width: 200px;
    height: 200px;
}
.column img:hover {
    opacity: 1;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container-img {
    position: relative;
    display: none;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}